<h1>Welcome to example.com, <%= @object.email %></h1>
<p>
  Your Order is confirmed with the items:
  <%= @object.order_items.first.inspect %>
  having an amount of <%= @object%>.
</p>

<p>Thanks for joining us.</p>
